/********************** reset default browser style **********************/
/* Reset unneeded margins and paddings */
html, body, form, fieldset { margin: 0; padding: 0; }
/* Vertical margins */ 
h1, h2, h3, h4, h5, h6, p { margin: 1em 0 0 0; padding: 0; }    /* top */
ul, ol, dl { margin: 0 0 1em; padding: 0; }                     /* bottom */
pre, blockquote, address { margin: 1em 0; padding: 0; }         /* top & bottom */  
li { margin: 0; padding: 0; }									/* none */
/* Left margin */
li, dd, blockquote { margin-left: 1em; }
/* Page colors (background and text) */
body { background: white; color: black; }
/* Page main font */
h1, h2, h3, h4, h5, h6, p, li, dd, dt, th, td, input, textarea, select, label { font: 11px/1.2em Verdana, Tahoma, Arial, sans-serif; }
h1 { font-size: 16px; font-weight: bold; }
h2 { font-size: 14px; font-weight: bold; }
h3 { font-size: 12px; font-weight: bold; }
/* Links: underlined only when hovered */
a { text-decoration: none; }
a:hover { text-decoration: underline; }
/* Images without borders when used as links */
a img { border: 0; }
/* Labels have 'hand' as mouse pointer */
label { cursor: pointer; }
/********************** /reset default browser style *********************/
#container { border: 7px solid white; margin: 10px auto; width: 940px; }
#header { }
  #header #top { height: 105px; padding: 13px 10px 0 10px; background: #add8e6 url('../img/logo.png') 12px 10px no-repeat; }
    #header #top a#home { display: block; float: left; margin-right: 75px; width: 110px; height: 100px; outline: none; }
    #header #top #banner { float: left; width: 728px; height: 90px; } 
  
  #header #menu { background: #00468b; }
  #header #menu a { display: block; float: left; padding: 9px 15px; font: bold 13px Tahoma, Verdana, Arial, sans-serif; color: #dbdbdb; text-decoration: none; outline: none; }  
  #header #menu a:hover { background: #dbdbdb; color: darkblue; }

  #header #social { float: right; padding-top: 7px; width: 80px; }  

  
#body { padding: 10px 0; background: white; min-height: 400px; }
  
#footer { border-top: 3px solid #add8e6; background: #00468b; height: 46px;}
#footer p { text-align: center; color: #dbdbdb; } 

/** Pages **/
#left { float: left; width: 120px; height: 240px; }
#center { float: left; width: 700px; }
#right { float: left; width: 120px; height: 240px; }

table#form { margin: 20px auto; color: #00468b; border-spacing: 5px; }
table#form th { padding-bottom: 15px;  }
table#form td.label { padding-right: 20px; }
table#form td select { width: 200px; }
table#form td #submitWrapper { text-align: center; }
table#form td #submitWrapper #submit { margin: 10px; width: 140px; height: 25px; cursor: pointer; } 

#result { margin-top: 15px; font-size: 16px; color: #00468b; text-align: center; }
#result img { display: none; }
#result h1 { display: none; margin: 0; font-size: 16px; }
#result h1 b { font-size: 20px; }

.nomenclator { border: 1px solid #dbdbdb; border-collapse: collapse; margin: 10px; }
.nomenclator tr { cursor: pointer; }
.nomenclator tr:hover { background: #dbdbdb; }
.nomenclator th { padding: 3px; background: lightblue; color: white; font-weight: bold; font-size: 13px; }
.nomenclator td { border: 1px solid #dbdbdb; padding: 2px 4px; } 

#bindEntity { border: 1px solid #dbdbdb; margin: 10px 0 0; width: 100%; min-height: 200px; }
#bindEntity .box { float: left; margin: 5px; }
#bindEntity div pre { display: none; }
#bindEntity div .multipleSelector { border: 1px solid black; border-spacing: 4px; }
#bindEntity div .multipleSelector th { padding: 3px; background: lightblue; color: white; font-weight: bold; font-size: 13px; }
#bindEntity div .multipleSelector td select { height: 100px; }
#bindEntity div .nomenclator { margin: 0; } 

table#login { margin: auto; border: 3px solid #00468b; }

#contactBox { margin: 10px auto; width: 380px; overflow: auto; }
#contactBox h1 { padding: 0; margin-top: 4px; font: bold 12px Arial, Tahoma; color: #4169e1; }
#contactBox p { margin-top: 4px; color: #00468b; }
#contactBox span { color: #acacac; }
#contactBox a { font: 12px Arial, Tahoma; color: #00468b; }
#contactBox a:hover { text-decoration: none; color: red; }
#contact { margin-top: 10px; }
#contactBox td { color: #00468b; }
#contactBox td.label input { width: 280px; }
#contactBox textarea { width: 280px; height: 100px; }
#contactBox td.message { width: 285px; }
#contactBox td.btnSend { padding-left: 160px; }
#contactBox #btnSend { cursor: pointer; }
#contactBox span.red { color: red; }
#contactBox span.green { color: green; }

body { background: #f0f0f0; }
a { font: 11px/1.2em Verdana, Tahoma, Arial, sans-serif; color: #00468b; }
                   
/** Common **/
.clear { clear: both; font-size: 1px; }
.left { float: left; }
.success { color: #000080 ; font-weight: bold; text-align: center; }
.error { color: #ce2623; font-weight: bold; text-align: center; }
.center { text-align: center; }
.red { color: red; }
.alignRight { text-align: right; }

/** Colors **
 *
 * LIGHTBLUE: #add8e6         
 * DARKBLUE:  #00468b           
 * LIGHTGRAY: #f0f0f0   
 * DARKGRAY:  #dbdbdb          
 */ 